@model IEnumerable<MovieReview.Models.Movie>

@{
    ViewData["Title"] = "Listing";
}

<h2>Movie Listing</h2>

<div>


    @if (Model.Count() == 0)
    {
        <div>
            <p>No films exist for this genre</p>

        </div>
    }
    else
    {
        <div class="row">
            @foreach (var item in Model)
            {
                var review = item.Review;
                <div class="col-md-4" style="padding-top: 1em">
                    <h3 class="bg-primary text-center">@item.Title</h3>
                    <div style="padding:.2em">
                        @if (User.IsInRole("admin"))
                        {
                            <div>
                                <img class="img-responsive" src="~/images/Posters/@(item.MovieID).jpg" alt="@item.Title"/>
                            </div>
                            <a asp-controller="Review" asp-action="Create" asp-route-id="@item.MovieID">Leave a Review</a> @: |
                            <a asp-controller="Review" asp-action="Index" asp-route-id="@item.MovieID" class="btn btn-success">View Review &raquo;</a>
                        }
                        else if (User.Identity.IsAuthenticated)
                        { <a asp-controller="Review" asp-action="Create" asp-route-id="@item.MovieID">Leave a Review</a>
                            <a asp-controller="Review" asp-action="Index" asp-route-id="@item.MovieID" class="btn btn-success">View Review &raquo;</a>

                        }
                        else
                        {
                            <a asp-controller="Review" asp-action="Index" asp-route-id="@item.MovieID" class="btn btn-success">View Review &raquo;</a>

                        }


                    </div>
                </div>

            }
        </div>

    }

</div>

